body {
}

#MainBox {
    border: solid;
    border-width: 2px;
    width: 454px;
    height: 555px;
    float: left;
}

#SubBox {
    border: solid;
    border-width: 1px;
    width: 225px;
    height: 225px;
    float: left;
}

#DesiredClasses {
    border: solid;
    border-width: 1px;
    width: 225px;
    height: 225px;
    float: right;
}

#SubSubBox {
    border: solid;
    border-width: 1px;
    width: 450px;
    height: 225px;
    float: left;
}